.navbar {
    z-index: 2;
    max-width: 999999px;
}
.my-container-header{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    max-width: 999999px;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    border-color: #d45500;
    border-bottom-color: transparent;
}
.nav-tabs {
    border-bottom: 1px solid #d45500;
}
